/*
    Esse deve ter
    .row>* {
        padding: 0;
    }
*/

.layout-row {
    flex-wrap: nowrap;
    
    /* talvez retirar */
    min-height: 100%;

    /* talvez retirar
        TIRAR COM CERTEZZA
     */
    position: relative;

    /* talvez retirar */
    flex-grow: 1;
    
    /* talvez retirar */
    z-index: 1;
    
    flex-direction: row;
    
    /* talvez retirar */
    height: 100%;
}

.layout-row>* {
    padding: 0;
}














/*
    **
    ORIGINAL
    **
    ANALISANDO PARA REMOCAO OU NAO
    MOTIVO: SE PARECE COM .row
    SOLUCAO: USANDO BOOTSTRAP

    REMOVER, ESPERANDO SO NAO DAR ERRO NO FINAL

    row-container
*/
/*
.row-container>* {
    max-width: 100%;
    margin-top: var(--bs-gutter-y)
}

.row-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}
*/
