<!--
    1. One Way
    1.4 Class Binding
-->

<div>
    <h1>One Way</h1>
    <h3>Class Binding</h3>

    <div id="sectionBody1">
        <p>
            Propriedade <strong>class</strong> do elemento host.
        </p>
        <p>
            Existe 3 formas de manipulação desta propriedade:     
        </p>
        
        <div id="accordionBody">
            <ul>
                <li>
                    <div>
                        <div class="card-header" id="headerClass">
                            <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseClass" aria-expanded="false" aria-controls="collapseClass">
                                <strong>Standard Property Binding</strong>
                            </a>
                        </div>
                    
                        <div class="collapse card-body" id="collapseClass" aria-labelledby="headerClass" data-bs-parent="#accordionBody">
                            
                            <div id="containerModal">
                                <h5>Estrutura Básica</h5>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica1">
                                    <figure class="figure">
                                        <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/class.png" alt="estrutura basica class bindings">
                                        <figcaption class="figure-caption">
                                            <strong>Figura 1:</strong> Estrutura Básica Class Bindings.
                                        </figcaption>
                                    </figure>
                                </button>
                                
                                <div class="modal fade" id="modalEstruturaBasica1" tabindex="-1" aria-labelledby="modalEstruturaBasicaLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalEstruturaBasicaLabel">Estrutura Básica Class Bindings</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img class="figure-img img-fluid"
                                                src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/class.png" alt="estrutura basica class bindings">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
        
                            <div id="subSectionClass">
                                <p>
                                    Seta, em uma única etapa, todas as classes de um elemento HTML após a avaliação da expressão através de uma propriedade ou método do componente.
                                </p>
                                <p style="color: red;">
                                    <strong>Obs 1:</strong> A expressão deve ter um retorno string.
                                </p>
                                <p style="color: red;">
                                    <strong>Obs 2:</strong> Caso houver mais de uma classe, deve-se separar por espaço.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div>
                        <div class="card-header" id="headerSpecialClass">
                            <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialClass" aria-expanded="false" aria-controls="collapseSpecialClass">
                                <strong>Special Class Binding</strong>
                            </a>
                        </div>
                    
                        <div class="collapse card-body" id="collapseSpecialClass" aria-labelledby="headerSpecialClass" data-bs-parent="#accordionBody">
                            <div id="containerModal">
                                <h5>Estrutura Básica</h5>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica2">
                                    <figure class="figure">
                                        <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/special_class.png" alt="estrutura basica special class bindings">
                                        <figcaption class="figure-caption">
                                            <strong>Figura 1:</strong> Estrutura Básica Special Class Bindings.
                                        </figcaption>
                                    </figure>
                                
                                </button>
                                
                                <div class="modal fade" id="modalEstruturaBasica2" tabindex="-1" aria-labelledby="modalEstruturaBasicaLabel1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalEstruturaBasicaLabel1">Estrutura Básica Special Class Bindings</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img class="figure-img img-fluid"
                                                src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/special_class.png" alt="estrutura basica special class bindings">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
        
                            <div id="subSectionSpecialClass">
                                <p>
                                    Seta uma única classe através de um controle mais refinado usando uma expressão.
                                </p>
                                <p style="color: red;">
                                    <strong>Obs 1:</strong> A expressão deve ter um retorno baseado em truthy, ver 
                                    <a href="/bindings/others/truthyFalsy">aqui</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div>
                        <div class="card-header" id="headerDirectiveNgClass">
                            <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseDirectiveNgClass" aria-expanded="false" aria-controls="collapseDirectiveNgClass">
                                <strong>Diretiva NgClass</strong>
                            </a>
                        </div>
                    
                        <div class="collapse card-body" id="collapseDirectiveNgClass" aria-labelledby="headerDirectiveNgClass" data-bs-parent="#accordionBody">
                            <div id="containerModal">
                                <h5>Estrutura Básica</h5>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica3">
                                    <figure class="figure">
                                        <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/ngClass.png" alt="estrutura basica diretiva ngclass bindings">
                                        <figcaption class="figure-caption">
                                            <strong>Figura 1:</strong> Estrutura Básica Diretiva NgClass Bindings.
                                        </figcaption>
                                    </figure>
                                
                                </button>
                                
                                <div class="modal fade" id="modalEstruturaBasica3" tabindex="-1" aria-labelledby="modalEstruturaBasicaLabel3" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalEstruturaBasicaLabel3">Estrutura Básica Diretiva NgClass Bindings</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img class="figure-img img-fluid"
                                                src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/ngClass.png" alt="estrutura basica diretiva ngclass bindings">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
        
                            <div id="subSectionDirectiveNgClass">
                                <p>
                                    Explicado <a href="/bindings/oneWay/ngClass">
                                        <strong>aqui</strong>
                                    </a> 
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <br>

    <div id="sectionBodyExemplo">
        <ul>
            <li>
                <p>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        <strong>Lista de Exemplos</strong>
                    </a>
                </p>
                <div class="collapse card-body" id="collapseTarget">
                    <div id="accordionExemplo">
                        <ul>
                            <li>
                                <div>
                                    <div class="card-header" id="headerExemplo1">
                                        <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                            <strong>Exemplo 1:</strong> Class binding
                                        </a>
                                    </div>
                                
                                    <div class="collapse card-body" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionExemplo">
                                        <!--
                                            1.4.1 Standard Property Binding

                                                - Setting All Classes with property binding
                                        -->
                                        <div class="text-white p-2">
                                            <div [class]="getClasses(1)">
                                                O primeiro produto é {{ repository.getProduct(1).name }}
                                            </div>
                                        </div>
                                        <div class="text-white p-2">
                                            <div [class]="getClasses(2)">
                                                O segundo produto é {{ repository.getProduct(2).name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div>
                                    <div class="card-header" id="headerExemplo2">
                                        <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo2" aria-expanded="false" aria-controls="collapseExemplo2">
                                            <strong>Exemplo 2:</strong> Special Class Binding
                                        </a>
                                    </div>
                                
                                    <div class="collapse card-body" id="collapseExemplo2" aria-labelledby="headerExemplo2" data-bs-parent="#accordionExemplo">
                                        <!--
                                            1.4.2 Special Class Binding

                                                - Setting Individual Class with Special binding
                                        -->
                                        <div class="p-2" [class.bg-danger]="repository.getProduct(2).price < 50" [class.bg-warning]="repository.getProduct(2).price >= 50">
                                            O segundo produto é {{ repository.getProduct(2).name }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
