<!--
    1. One Way
    1.4 Class Binding
-->

<div id="bodyMain">
    <h1>One Way</h1>
    <h3>Class Binding</h3>
    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Propriedade <strong>class</strong> do elemento host.
            </p>
            <p>
                Existe 3 formas de manipulação desta propriedade:     
            </p>
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerClass">
                            <div id="headerClass">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseClass" aria-expanded="false" aria-controls="collapseClass">
                                    <strong>Standard Property Binding</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseClass" aria-labelledby="headerClass" data-bs-parent="#accordionSection">
                                <div id="containerModalEstruturaBasicaClass">
                                    <h5>Estrutura Básica</h5>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasicaClass">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/class.png" alt="estrutura basica class binding">
                                            <figcaption class="figure-caption">
                                                <strong>Figura 1:</strong> Estrutura Básica Class Binding.
                                            </figcaption>
                                        </figure>
                                    </button>
                                    <div class="modal fade" id="modalEstruturaBasicaClass" tabindex="-1" aria-labelledby="labelModalEstruturaBasicaClass" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="labelModalEstruturaBasicaClass">Estrutura Básica Class Binding</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="figure-img img-fluid"
                                                    src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/class.png" alt="estrutura basica class binding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    Seta, em uma única etapa, <strong>todas as classes</strong> de um elemento HTML após a avaliação da expressão através de uma propriedade ou método do componente.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> A expressão deve ter um retorno string.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Caso houver mais de uma classe no retorno do componente, deve-se separar por espaço.
                                </p> 
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerSpecialClass">
                            <div id="headerSpecialClass">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialClass" aria-expanded="false" aria-controls="collapseSpecialClass">
                                    <strong>Special Class Binding</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseSpecialClass" aria-labelledby="headerSpecialClass" data-bs-parent="#accordionSection">
                                <div id="containerModalEstruturaBasicaSpecialClass">
                                    <h5>Estrutura Básica</h5>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasicaSpecialClass">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/special_class.png" alt="estrutura basica special class binding">
                                            <figcaption class="figure-caption">
                                                <strong>Figura 1:</strong> Estrutura Básica Special Class Binding.
                                            </figcaption>
                                        </figure>
                                    </button>
                                    <div class="modal fade" id="modalEstruturaBasicaSpecialClass" tabindex="-1" aria-labelledby="labelModalEstruturaBasicaSpecialClass" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="labelModalEstruturaBasicaSpecialClass">Estrutura Básica Class Binding</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="figure-img img-fluid"
                                                    src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Class/special_class.png" alt="estrutura basica special class binding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    Seta <strong>uma única classe</strong> através de um controle mais refinado usando uma expressão.
                                </p>
                                <p>
                                    Usa-se a propriedade <strong>class.</strong> com o <strong>nome da classe</strong> dentro de colchetes para modificar o elemento host.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> A expressão deve ter um retorno baseado em truthy, visto 
                                    <a href="/bindings/others/truthyFalsy">
                                        <strong>aqui</strong>
                                    </a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerNgClass">
                            <div id="headerNgClass">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseNgClass" aria-expanded="false" aria-controls="collapseNgClass">
                                    <strong>Diretiva NgClass</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseNgClass" aria-labelledby="headerNgClass" data-bs-parent="#accordionSection">
                                <div id="containerModalEstruturaBasicaNgClass">
                                    <h5>Estrutura Básica</h5>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasicaNgClass">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgClass/ngclass.png" alt="estrutura basica diretiva ngclass binding">
                                            <figcaption class="figure-caption">
                                                <strong>Figura 1:</strong> Estrutura Básica Diretiva NgClass Binding.
                                            </figcaption>
                                        </figure>
                                    </button>
                                    <div class="modal fade" id="modalEstruturaBasicaNgClass" tabindex="-1" aria-labelledby="labelModalEstruturaBasicaNgClass" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="labelModalEstruturaBasicaNgClass">Estrutura Básica Diretiva NgClass Binding</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="figure-img img-fluid"
                                                    src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgClass/ngclass.png" alt="estrutura basica diretiva ngclass binding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    Use-se a diretiva ngClass, explicado <a href="/bindings/oneWay/ngClass">
                                        <strong>aqui</strong>.
                                    </a> 
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="sectionBody">
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                            <div id="accordionSubSectionExemplo">
                                <ul>
                                    <li>
                                        <div id="containerExemplo1">
                                            <div id="headerExemplo1">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                                    <strong>Exemplo 1:</strong> Class binding
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                                <div class="text-white p-2">
                                                    <div [class]="getClasses(1)">
                                                        O primeiro produto é {{ repository.getProduct(1).name }}
                                                    </div>
                                                </div>
                                                <div class="text-white p-2">
                                                    <div [class]="getClasses(2)">
                                                        O segundo produto é {{ repository.getProduct(2).name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="containerExemplo2">
                                            <div id="headerExemplo2">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo2" aria-expanded="false" aria-controls="collapseExemplo2">
                                                    <strong>Exemplo 2:</strong> Special Class Binding
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExemplo2" aria-labelledby="headerExemplo2" data-bs-parent="#accordionSubSectionExemplo">
                                                <div class="p-2" [class.bg-danger]="repository.getProduct(2).price < 50" [class.bg-warning]="repository.getProduct(2).price >= 50">
                                                    O segundo produto é {{ repository.getProduct(2).name }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        