<!--
    1. One Way

    Dividido em:
        1.1 Standard Property Binding
        1.2 String Interpolation Binding
        1.3 Attribute Binding
        1.4  Class Binding
        1.5 Style Binding
        1.6 Event Binding
-->

<div>
    <app-standard-property></app-standard-property>
</div>
<div>
    <app-string-interpolation></app-string-interpolation>
</div>
<div>
    <app-attribute></app-attribute>
</div>
<div>
    <app-class></app-class>
</div>
<div>
    <app-style></app-style>
</div>
<div>
    <app-event></app-event>
</div>