<!--
    1. One Way
-->

<div>
    <h1>One Way</h1>
    <h3>Básico</h3>
    
    <div id="containerModalEstruturaBasica">
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid" src="../../assets/imagens/dataBindings/OneWay/basic.png" alt="estrutura basica data binding">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica Data Binding.
                </figcaption>
            </figure>
        </button>
        
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica Data Binding</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid" src="../../assets/imagens/dataBindings/OneWay/basic.png" alt="estrutura basica data binding">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordionSection">
        <div id="sectionBody">
            <div id="containerInterpretacao">
                <div id="headerInterpretacao">
                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseInterpretacao" aria-expanded="false" aria-controls="collapseInterpretacao">
                        <strong>Interpretação da Estrutura Básica</strong>
                    </a>
                </div>
            
                <div class="collapse" id="collapseInterpretacao" aria-labelledby="headerInterpretacao" data-bs-parent="#accordionSection">
                    <p>
                        À esquerda da <strong>Figura 1</strong>, temos colchetes envolvendo um alvo ([ngClass]) indicando que o fluxo de dados vai ser do componente para o template (data bindings). 
                    </p>
                    <p>
                        Logo em seguida, Angular avalia a expressão getClasses() que é um método do componente retornando um string.
                    </p>
                    <p>
                        O método getClasses() no componente analisa se a quantidade de produtos é igual a 5
                    </p>
                    
                    <p>
                        Caso <strong>true</strong> a expressão retornará <strong style="color: #198754;">"bg-success"</strong>, caso <strong>false</strong> a expressão retornará <strong style="color: #ffc107;">bg-warning</strong>
                    </p>
        
                    <div id="containerModalFluxograma">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalFluxograma">
                            <figure class="figure">
                                <img class="figure-img img-fluid" src="../../assets/imagens/dataBindings/OneWay/fluxogram_basic.png" alt="fluxograma método getClasses()">
                                <figcaption class="figure-caption">
                                    <strong>Figura 1:</strong> Fluxograma do Método getClasses().
                                </figcaption>
                            </figure>
                        </button>
                        
                        <div class="modal fade" id="modalFluxograma" tabindex="-1" aria-labelledby="labelModalFluxograma" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="labelModalFluxograma">Fluxograma do Método getClasses()</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="figure-img img-fluid"
                                        src="../../assets/imagens/dataBindings/OneWay/fluxogram_basic.png" alt="fluxograma método getClasses()">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="sectionBody">
            <p>
                One-way data binding são recursos usados em templates HTML do Angular, 
                <br>
                para gerar conteúdos ou modificar comportamentos através da interação com o usuário.
            </p>
            <p>
                Possui o fluxo de dados em uma direção (Ver <strong>Figura 1</strong>):
            </p>
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerDataBinding">
                            <div id="headerDataBinding">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseDataBinding" aria-expanded="false" aria-controls="collapseDataBinding">
                                    <strong>Binding de Dados (Data Bindings)</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseDataBinding" aria-labelledby="headerDataBinding" data-bs-parent="#accordionSection">
                                <p>Os dados fluem do <strong>componente</strong> para o <strong>template</strong>.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div id="containerEventBinding">
                            <div id="headerEventBinding">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseEventBinding" aria-expanded="false" aria-controls="collapseEventBinding">
                                    <strong>Binding de Eventos (Event Bindings)</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseEventBinding" aria-labelledby="headerEventBinding" data-bs-parent="#accordionSection">
                                <p>Os dados fluem do <strong>template</strong> para o <strong>componente</strong>.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="sectionBody">
            <p>
                A estrutura básica, à esquerda da <strong>Figura 1</strong>, é dividida em 4 partes:	
            </p>
            
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerHostElement">
                            <div id="headerHostElement">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseHostElement" aria-expanded="false" aria-controls="collapseHostElement">
                                    <strong>Elemento hospedeiro (Host Element)</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseHostElement" aria-labelledby="headerHostElement" data-bs-parent="#accordionSection">
                                <p>
                                    Elemento HTML ou tag HTML do qual vai mudar a <strong>aparência</strong>, <strong>conteúdo</strong> ou <strong>comportamento</strong>.
                                </p>
                                <p>
                                    <!--
                                        Talvez seja uma Obs.:
                                    -->
                                    Data Bindings pode ser aplicado a qualquer elemento host e um elemento host pode ter múltiplos data bindings.
                                </p>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div id="containerBrackets">
                            <div id="headerBrackets">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBrackets" aria-expanded="false" aria-controls="collapseBrackets">
                                    <strong>Colchetes (Brackets)</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseBrackets" aria-labelledby="headerBrackets" data-bs-parent="#accordionSection">
                                <p>
                                    Colchetes (ou Parênteses) envolvem o alvo, denotando avaliar uma expressão passando o resultado para o alvo, do qual faz mudança no elemento host.
                                </p>
                                <p>
                                    <strong>Colchetes</strong> indicam que os dados fluem do componente para o template HTML (<strong>data bindings</strong>).
                                </p>
                                <p>
                                    <strong>Parênteses</strong> indicam que os dados fluem do template HTML para o componente (<strong>event bindings</strong>).
                                </p>
                                
                                <div id="sectionObs">
                                    <ul>
                                        <li>
                                            <!--
                                                tirar este style e fazer em css
                                            -->
                                            <p style="color: red;">
                                                <strong>Obs. 1:</strong> Pode-se também usar <strong>dupla chaves</strong> visto em
                                                <!--
                                                    configurar o a-hover para a tag a abaixo
                                                -->
                                                <a style="color: red;" href="/bindings/oneWay/stringInterpolation">
                                                    <strong>string interpolation bindings</strong>
                                                </a>
                                                e uma combinação de colchetes envolvendo parênteses, chamado <strong>banana-in-box</strong>, visto em 
                                                <a style="color: red;" href="/bindings/twoWay">
                                                    <strong>two-way bindings</strong>
                                                </a>.
                                            </p>
                                        </li>
            
                                        <li>
                                            <!--Aqui tem a palavra valor literal, sera que devo fazer outro em others ? sobre valor literal ?-->
                                            <p style="color: red;">
                                                <strong>Obs. 2:</strong> Omitindo o colchetes ou parênteses a expressão não será avaliada, passando a ser considerada um 
                                                <a style="color: red;" href="#">
                                                    <strong>valor literal</strong>
                                                </a>. 
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
            
                    <li>
                        <div id="containerTarget">
                            <div id="headerTarget">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
                                    <strong>Alvo (Target)</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseTarget" aria-labelledby="headerTarget" data-bs-parent="#accordionSection">
                                <p>
                                    É aquele que vai ser atingido pelo binding, podendo ser de 2 tipos:
                                </p>
        
                                <div id="accordionSubSectionTarget">
                                    <ul>
                                        <li>
                                            <div id="containerPropertyBinding">
                                                <div id="headerPropertyBinding">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePropertyBinding" aria-expanded="false" aria-controls="collapsePropertyBinding">
                                                        <strong>Bindings de Propriedade (Property Bindings)</strong>
                                                    </a>
                                                </div>
                                            
                                                <div class="collapse" id="collapsePropertyBinding" aria-labelledby="headerPropertyBinding" data-bs-parent="#accordionSubSectionTarget">
                                                    <p>São divididos em:</p>
                                                    <div>
                                                        <ul>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                routerLink="/bindings/oneWay/standardProperty">
                                                                Binding de Propriedade Padrão (<strong>Standard Property Binding</strong>)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                routerLink="/bindings/oneWay/stringInterpolation">
                                                                    Binding de Interpolação de String (<strong>String Interpolation Binding</strong>)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                routerLink="/bindings/oneWay/attribute">
                                                                    Binding de Atributo (<strong>Attribute Binding</strong>)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                routerLink="/bindings/oneWay/class">
                                                                    Binding de Classe (<strong>Class Binding</strong>)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                routerLink="/bindings/oneWay/style">
                                                                    Binding de Estilo (<strong>Style Binding</strong>)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                routerLink="/bindings/oneWay/event">
                                                                    Binding de Evento (<strong>Event Binding</strong>)
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li>
                                            <div id="containerDirectiveBinding">
                                                <div id="headerDirectiveBinding">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseDirectiveBinding" aria-expanded="false" aria-controls="collapseDirectiveBinding">
                                                        <strong>Bindings de Diretiva (Directive Bindings)</strong>
                                                    </a>
                                                </div>
                                            
                                                <div class="collapse" id="collapseDirectiveBinding" aria-labelledby="headerDirectiveBinding" data-bs-parent="#accordionSubSectionTarget">
                                                    <p>
                                                        Podem ser fornecidos pelo Angular (built-in directives) prefixados com <strong>ng</strong> ou <strong>personalizados</strong>.
                                                    </p>
                                                    <p>
                                                        São divididos em:
                                                    </p>
        
                                                    <div>
                                                        <ul>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                   routerLink="/bindings/oneWay/ngClass">
                                                                    Diretiva <strong>NgClass</strong>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                   routerLink="/bindings/oneWay/ngStyle">
                                                                   Diretiva <strong>NgStyle</strong>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                   routerLink="/bindings/oneWay/ngIf">
                                                                   Diretiva <strong>NgIf</strong>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                   routerLink="/bindings/oneWay/ngFor">
                                                                   Diretiva <strong>NgFor</strong>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                   routerLink="/bindings/oneWay/ngSwitch">
                                                                   Diretiva <strong>NgSwitch/NgSwitchCase/NgSwitchDefault</strong>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-link" 
                                                                   routerLink="/bindings/oneWay/ngTemplateOutlet">
                                                                   Diretiva <strong>NgTemplateOutlet</strong>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                       </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
            
                    <li>
                        <div id="containerExpression">
                            <div id="headerExpression">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExpression" aria-expanded="false" aria-controls="collapseExpression">
                                    <strong>Expressão (Expression)</strong>
                                </a>
                            </div>
                        
                            <div class="collapse " id="collapseExpression" aria-labelledby="headerExpression" data-bs-parent="#accordionSection">
                                <p>
                                    Fragmento de código analisado pelo componente (ou escrito inline no template) através de propriedades e métodos, sendo assim o valor do alvo.
                                </p>
        
                                <div id="sectionObs">
                                    <ul>
                                        <li>
                                            <p style="color: red;">
                                                <!--
                                                    Colocar exemplo de metodo e string literal ?  [ngClass]="'text-white m-2 p-2 ' + getClasses()"
                                                -->
                                                <strong>Obs. 1:</strong> Na expressão pode-se misturar métodos e propriedades com 
                                                <a style="color: red;" href="">
                                                    <strong>valor literal</strong>
                                                </a>.
                                            </p>
                                        </li>
            
                                        <li>
                                            <p style="color: red;">
                                                <strong>Obs. 2:</strong> Dependendo da complexidade da lógica não é aconselhável escrever inline no template.
                                            </p>
                                        </li>

                                        <li>
                                            <p style="color: red;">
                                                <strong>Obs. 3:</strong> Quando se tem mais de um valor para se apresentar na expressão, deve-se separar por espaços.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>