<!--
    1. Others
    1.5 Truthy x Falsy
-->

<div id="bodyMain">
    <h1>Others</h1>
    <h3>Truthy x Falsy</h3>
    <div id="containerModalEstruturaBasica">
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid"
                    src="../../../assets/imagens/dataBindings/Others/TruthyFalsy/truthyfalsy.png"
                    alt="estrutura basica truthy falsy">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica Truthy/Falsy.
                </figcaption>
            </figure>
        </button>
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica Truthy/Falsy</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid"
                            src="../../../assets/imagens/dataBindings/Others/TruthyFalsy/truthyfalsy.png"
                            alt="estrutura basica truthy falsy">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                A expressão sempre deverá ter um retorno baseado em <strong>truthy</strong> (de veracidade).
            </p>
            <p>
               Para isso, a expressão não pode conter os seguintes resultados <strong>falsy</strong> (de falsidade):
            </p>
            
            <div>
                <ul>
                    <li>
                        Booleano, <strong>false</strong>
                    </li>
                    <li>
                        Valor númerico, <strong>0</strong> (zero)
                    </li>
                    <li>
                        String vazio, <strong>""</strong>
                    </li>
                    <li>
                        <strong>Null</strong>
                    </li>
                    <li>
                        <strong>Undefined</strong>
                    </li>
                    <li>
                        Valor númerico especial, <strong>NaN</strong>
                    </li>
                </ul>
            </div>
            <div>
                <p style="color: red;">
                    Obs. 1:
                    <a class="btn-link" style="color: red;" href="" data-bs-toggle="collapse" data-bs-target="#collapseTruthyFalsyTrueFalse" role="button" aria-expanded="false" aria-controls="collapseTruthyFalsyTrueFalse">
                        <strong>Truthy/Falsy</strong> x <strong>True/False</strong>
                    </a>
                </p>
                <div class="collapse card-body" id="collapseTruthyFalsyTrueFalse">
                    <p style="color: red;">
                        Um String com valor "false" é Truthy por ser preenchido e possui valor diferente que vazio "", ele não é um boolean false nem Falsy, será Truthy po Não confundir <strong>Truthy/Falsy</strong> com os valores booleanos <strong>true/false</strong>
                    </p>
                    <p style="color: red;">
                        Sendo assim, ele não é um boolean false, porque é String, e nem Falsy, porque não é Sring vazio ""
                    </p>
                </div>
            </div>
        </div>
        <div id="sectionBody">
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                            <div id="accordionSubSectionExemplo">
                                <ul>
                                    <li>
                                        <div id="containerExemplo1">
                                            <div id="headerExemplo1">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExemplo1" aria-expanded="false"
                                                    aria-controls="collapseExemplo1">
                                                    <strong>Exemplo 1:</strong> Attribute Binding
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExemplo1"
                                                aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>