<nav>
	<div>
		<div class="row">
			<h4>
				<a class="navbar-brand" href="#">Contents</a>
			</h4>
		</div>
		<div class="row">
			<div class="col">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown dropend">
                        <a class="btn btn-primary dropdown-toggle" 
						   role="button" 
						   data-bs-toggle="dropdown" 
						   aria-expanded="false">
							One Way
						</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/oneWay">
								   Basic
								</a>

							</li>
							<li class="nav-item">
								<a class="dropdown-item dropdown-toggle">
								   Property Bindings
								</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/standardProperty">
                                           Standard Property
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/stringInterpolation">
                                           String Interpolation
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/attribute">
                                           Attribute
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/class">
                                           Class
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/style">
                                           Style
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/event">
                                           Event
                                        </a>
                                    </li>
                                </ul>
							</li>

                            <li class="nav-item">
								<a class="dropdown-item dropdown-toggle">
								   Directive Bindings
								</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/ngClass">
                                           ngClass
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/ngStyle">
                                           ngStyle
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/ngIf">
                                           ngIf
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/ngFor">
                                           ngFor
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/ngSwitch">
                                           ngSwitch
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/oneWay/ngTemplateOutlet">
                                           ngTemplateOutlet
                                        </a>
                                    </li>
                                </ul>
							</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown dropend">
                        <a class="btn btn-primary dropdown-toggle" 
						   role="button" 
						   data-bs-toggle="dropdown" 
						   aria-expanded="false">
							Two Way
						</a>
                        <ul class="dropdown-menu">
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/twoWay">
								   Basic
								</a>

							</li>
                            <li class="nav-item">
								<a class="dropdown-item dropdown-toggle">
								   Directive Bindings
								</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="color: mediumblue;" 
                                           routerLink="/bindings/twoWay/ngModel">
                                           ngModel
                                        </a>
                                    </li>
                                </ul>
							</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown dropend">
                        <a class="btn btn-primary dropdown-toggle" 
						   role="button" 
						   data-bs-toggle="dropdown" 
						   aria-expanded="false">
							Others
						</a>
                        <ul class="dropdown-menu">
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/others/templateReferenceVariables">
									Template x Reference Variables
								</a>

							</li>
							
							
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/others/microTemplates">
									Micro-templates
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/others/ngContainerElement">
									NgContainerElement
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/others/ngTemplateElement">
									NgTemplateElement
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								routerLink="/bindings/others/oneWayRestrictions">
									One-Way Restrictions
								</a>
							</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--
<nav>
	<div>
		<div class="row">
			<h4>
				<a class="navbar-brand" href="#">Contents</a>
			</h4>
		</div>
		<div class="row">
			<div class="col">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown dropend">
						<a class="btn btn-primary dropdown-toggle" 
						   role="button" 
						   data-bs-toggle="dropdown" 
						   aria-expanded="false">
							One Way
						</a>

						<ul class="dropdown-menu list-unstyled fw-normal pb-1 small">
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay">
								   Basic
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay/standardProperty">
								   Standard Property Binding
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay/stringInterpolation">
								   String Interpolation Binding
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay/attribute">
								   Attribute Binding
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay/class">
								   Class Binding
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay/style">
								   Style Binding
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/oneWay/event">
								   Event Binding
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
						
						

								


		<div class="row">
			<div class="col">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown dropend">
						<a class="btn btn-primary dropdown-toggle" 
						   role="button" 
						   data-bs-toggle="dropdown" 
						   aria-expanded="false">
							Two Way
						</a>
						<ul class="dropdown-menu list-unstyled fw-normal pb-1 small">
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/twoWay">
									Basic
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" style="color: mediumblue;" 
								   routerLink="/bindings/twoWay/ngModelDirective">
								   ngModel Directive
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
-->