<nav id="sidebarMenu">
	<div id="accordionSidebarLevel1">
		<ul id="level-1" class="navbar-nav">
			<li>
				<div id="headerSidebarOneWay">
					<a id="a-level-1" class="btn btn-primary dropdown-toggle" 
						role="button"
						data-bs-toggle="collapse"
						data-bs-target="#bodySidebarOneWay"
						aria-controls="bodySidebarOneWay"
						aria-expanded="false">
						One Way
					</a>
				</div>

				<div id="bodySidebarOneWay" class="collapse dropdown-menu dropdown-menu-sidebar" aria-labelledby="headerSidebarOneWay" data-bs-parent="#accordionSidebarLevel1">
					<div id="accordionSidebarLevel2">
						<ul id="level-2" class="dropdown-menu-ul-sidebar">
							<li>
								<div id="headerSidebarOneWayBasic">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/oneWay">
										Basic
									</a>
								</div>
							</li>

							<li>
								<div id="headerSidebarOneWayPropertyBinding">
									<a id="a-level-2" class="btn btn-outline-primary dropdown-toggle" 
										role="button"
										data-bs-toggle="collapse"
										data-bs-target="#bodySidebarOneWayPropertyBinding"
										aria-controls="bodySidebarOneWayPropertyBinding"
										aria-expanded="false">
										Property Bindings
									</a>
								</div>

								<div id="bodySidebarOneWayPropertyBinding" class="collapse dropdown-menu dropdown-menu-sidebar" aria-labelledby="headerSidebarOneWayPropertyBinding" data-bs-parent="#accordionSidebarLevel2">
									<ul id="level-3" class="dropdown-menu-ul-sidebar">
										<li>
											<div id="headerSidebarOneWayStandardProperty">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/standardProperty">
													Standard Property
												</a>
											</div>
										</li>

										<li>
											<div id="headerSidebarOneWayStringInterpolation">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/stringInterpolation">
													String Interpolation
												</a>
											</div>
										</li>
										<li>
											<div id="headerSidebarOneWayAttribute">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/attribute">
													Attribute
												</a>
											</div>
										</li>
										
										<li>
											<div id="headerSidebarOneWayClass">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/class">
													Class
												</a>
											</div>
										</li>
		
										<li>
											<div id="headerSidebarOneWayStyle">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/style">
													Style
												</a>
											</div>
										</li>
		
										<li>
											<div id="headerSidebarOneWayEvent">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/event">
													Event
												</a>
											</div>
										</li>
									</ul>
								</div>
							</li>
							
							<li>
								<div id="headerSidebarOneWayDirectiveBinding">
									<a id="a-level-2" class="btn btn-outline-primary dropdown-toggle" 
										role="button"
										data-bs-toggle="collapse"
										data-bs-target="#bodySidebarOneWayDirectiveBinding"
										aria-controls="bodySidebarOneWayDirectiveBinding"
										aria-expanded="false">
										Directive Bindings
									</a>
								</div>

								<div id="bodySidebarOneWayDirectiveBinding" class="collapse dropdown-menu dropdown-menu-sidebar" aria-labelledby="headerSidebarOneWayDirectiveBinding" data-bs-parent="#accordionSidebarLevel2">
									<ul id="level-3" class="dropdown-menu-ul-sidebar">
										<li>
											<div id="headerSidebarOneWayNgClass">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/ngClass">
													NgClass
												</a>
											</div>
										</li>

										<li>
											<div id="headerSidebarOneWayNgStyle">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/ngStyle">
													NgStyle
												</a>
											</div>
										</li>

										<li>
											<div id="headerSidebarOneWayNgIf">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/ngIf">
													NgIf
												</a>
											</div>
										</li>

										<li>
											<div id="headerSidebarOneWayNgFor">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/ngFor">
													NgFor
												</a>
											</div>
										</li>

										<li>
											<div id="headerSidebarOneWayNgSwitch">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/ngSwitch">
													NgSwitch
												</a>
											</div>
										</li>

										<li>
											<div id="headerSidebarOneWayNgTemplateOutlet">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/oneWay/ngTemplateOutlet">
													NgTemplateOutlet
												</a>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</li>
			
			<li>
				<div id="headerSidebarTwoWay">
					<a id="a-level-1" class="btn btn-primary dropdown-toggle" 
						role="button"
						data-bs-toggle="collapse"
						data-bs-target="#bodySidebarTwoWay"
						aria-controls="bodySidebarTwoWay"
						aria-expanded="false">
						Two Way
					</a>
				</div>
				
				<div id="bodySidebarTwoWay" class="collapse dropdown-menu dropdown-menu-sidebar" aria-labelledby="headerSidebarTwoWay" data-bs-parent="#accordionSidebarLevel1">
					<div id="accordionSidebarLevel2">
						<ul id="level-2" class="dropdown-menu-ul-sidebar">
							<li>
								<div id="headerSideBarTwoWayBasic">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/twoWay">
										Basic
									</a>
								</div>
							</li>

							<li>
								<div id="headerSidebarTwoWayDirectiveBinding">
									<a id="a-level-2" class="btn btn-outline-primary dropdown-toggle" 
										role="button"
										data-bs-toggle="collapse"
										data-bs-target="#bodySidebarTwoWayDirectiveBinding"
										aria-controls="bodySidebarTwoWayDirectiveBinding"
										aria-expanded="false">
										Directive Bindings
									</a>
								</div>

								<div id="bodySidebarTwoWayDirectiveBinding" class="collapse dropdown-menu dropdown-menu-sidebar" aria-labelledby="headerSidebarTwoWayDirectiveBinding" data-bs-parent="#accordionSidebarLevel2">
									<ul id="level-3" class="dropdown-menu-ul-sidebar">
										<li>
											<div id="headerSidebarTwoWayStandardProperty">
												<a id="a-level-3" class="btn btn-outline-primary" 
													routerLink="/bindings/twoWay/ngModel">
													NgModel
												</a>
											</div>
										</li>

										
									</ul>
								</div>
							</li>


					


							
						</ul>
					</div>
				</div>
			</li>
			
			<li>
				<div id="headerSidebarOthers">
					<a id="a-level-1" class="btn btn-primary dropdown-toggle" 
						role="button"
						data-bs-toggle="collapse"
						data-bs-target="#bodySidebarOthers"
						aria-controls="bodySidebarOthers"
						aria-expanded="false">
						Others
					</a>
				</div>
				
				<div id="bodySidebarOthers" class="collapse dropdown-menu dropdown-menu-sidebar" aria-labelledby="headerSidebarOthers" data-bs-parent="#accordionSidebarLevel1">
					<div id="accordionSidebarLevel2">
						<ul id="level-2" class="dropdown-menu-ul-sidebar">
							<li>
								<div id="headerSidebarOthersTemplateReferenceVariable">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/others/templateReferenceVariable">
										Template x Reference Variables
									</a>
								</div>
							</li>

							<li>
								<div id="headerSidebarOthersMicroTemplate">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/others/microTemplate">
										Micro-templates
									</a>
								</div>
							</li>

							<li>
								<div id="headerSidebarOthersNgContainerElement">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/others/ngContainerElement">
										NgContainerElement
									</a>
								</div>
							</li>

							<li>
								<div id="headerSidebarOthersOneWayRestriction">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/others/oneWayRestriction">
										One-Way Restrictions
									</a>
								</div>
							</li>

							<li>
								<div id="headerSidebarOthersTruthyFalsy">
									<a id="a-level-2" class="btn btn-outline-primary" 
										routerLink="/bindings/others/truthyFalsy">
										Truthy x Falsy
									</a>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>