<!--
    1. One Way
    1.1 Diretiva ngTemplateOutlet Binding
-->

<h1>One Way</h1>
<h3>Diretiva ngTemplateOutlet Bindings</h3>

<br>

<h5>Estrutura Básica</h5>

<div>
    <img src="../../../assets/imagens/dataBindings/estrutura_basica_diretiva_ngTemplateOutlet.jpg" alt="estrutura basica diretiva ngTemplateOutlet binding">
</div>
<br>
<p>
    Usa-se para repetir blocos de conteúdos em um locais especificados através do elemento ng-template.
</p>

<p>
    Divide-se em três partes:
</p>
<div>
    <ul>
        <li>
            Deve-se definir o elemento ng-template, que contem o conteúdo que vai ser repetido, ver 
            <a style="color: red;" href="/bindings/others/microTemplates">
                <strong>aqui</strong>
            </a>
        </li>
        <li>
            <p>
                Deve-se definir a variável de referência (reference variable) do qual pode ser usado em outras partes do HTML
            </p>
            <p>
                Ver mais 
                <a style="color: red;" href="/bindings/others/microTemplates">
                    <strong>aqui</strong>
                </a>
                .
            </p>
        </li>
        <li>
            <p>
                Deve-se usar a variável de referência do elemento ng-template de repeticao definido antes
            </p>
            <p>
                E faz-se o binding com a diretiva ngTemplateOutlet em outro elemento ng-template
            </p>
            <p style="color: red;">
                A expressão da diretiva ngTemplateOutlet deve ter o mesmo nome da variável de referência que foi atribuída no elemento ng-template de repetição.
            </p>
        </li>
    </ul>
</div>

<p style="color: red;">
    Context Object
        <!--
        Explica isso...
    pode-se usar em data bindings o objeto de contexto (context object) dentro do elemento ng-template
    -->
</p>





<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <div id="accordionExemplo">
                    <ul>
                        <li>
                            <div>
                                <div class="card-header" id="headerExemplo1">
                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                        <strong>Exemplo 1:</strong> Diretiva ngTemplateOutlet
                                    </a>
                                </div>
                            
                                <div class="collapse card-body" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionExemplo">
                                    <ng-template #titleTemplate>
                                        <h4 class="p-2 bg-success text-white">
                                            Repeated Content
                                        </h4>
                                    </ng-template>
                                    
                                    <ng-template [ngTemplateOutlet]="titleTemplate"></ng-template>
                                        
                                    <div class="bg-info p-2 m-2 text-white">
                                        There are {{getProductCount()}} products.
                                    </div>
                                       
                                    <ng-template [ngTemplateOutlet]="titleTemplate"></ng-template>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>