<!--
    1. One Way
    1.1 Diretiva ngStyle Binding
-->

<div>
    <h1>One Way</h1>
    <h3>Diretiva NgStyle Bindings</h3>

    <div id="containerModalEstruturaBasica">
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgStyle/ngstyle.png" alt="estrutura basica diretiva ngstyle binding">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica Diretiva NgStyle Binding.
                </figcaption>
            </figure>
        </button>
        
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica Diretiva NgStyle Binding</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid"
                        src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgStyle/ngstyle.png" alt="estrutura basica diretiva ngstyle binding">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Usa-se para gerenciar propriedade style.
            </p>
            <p>
                Mais flexíveis em relação ao retorno da expressão que é um Object.
            </p>
            <p>
                Cada propriedade do objeto representa um estilo ou mais, separados por espaços.
            </p>
            
            <p id="obs-style-color">
                <strong>Obs.:</strong> Cada propriedade do objeto representa apenas um estilo.
            </p> 
            <p id="obs-style-color">
                <strong>Obs.:</strong> O estilo será adicionada caso o valor da propriedade for <strong>truthy</strong>, visto 
                <a href="/bindings/others/truthyFalsy">
                    <strong>aqui</strong>
                </a>.
            </p> 
            <p>
                <!--
                    Talvez tirar esta parte
                -->
                Ver <a href="#">Exemplo 3</a>
            </p>
            
            <!--
                Aplicar a parte de operador nullish ???????
                -->
        </div>
    
        <div id="sectionExemplo">
            <ul>
                <li>
                    <div id="containerExemplo">
                        <div class="headerExemplo">
                            <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                <strong>Lista de Exemplos</strong>
                            </a>
                        </div>
                    </div>
                    
                    <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                        <div id="accordionSubSectionExemplo">
                            <ul>
                                <li>
                                    <div id="containerExemplo1">
                                        <div id="headerExemplo1">
                                            <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                                <strong>Exemplo 1:</strong> Usando método com Object
                                            </a>
                                        </div>
                                    
                                        <div class="collapse" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                            <div class="text-white m-2">
                                                <div class="p-2 bg-warning">
                                                    O <span [ngStyle]="getStylesMap(1)">primeiro</span> produto é {{ repository.getProduct(1).name }}
                                                </div>
                                            </div>
                                            <div class="p-2 bg-info">
                                                <div class="p-2 bg-info">
                                                    O <span [ngStyle]="getStylesMap(2)">segundo</span> produto é {{ repository.getProduct(2).name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
