<!--
    3. Others
    3.1 Template x Reference Variables
-->

<h3>Template x Reference Variables</h3>

<br>

<h5>Estrutura Básica</h5>

<div>
    <img style="margin: 10px;" src="../../../assets/imagens/dataBindings/estrutura_basica_attribute.jpg" alt="estrutura basica attribute binding" />
</div>

<p>
    Usa-se o prefixo <strong>attr.</strong> com o nome do atributo dentro de colchetes
</p>
<p>
    Deve-se usar quando não se tem o atributo do elementos HTML no seu atributo equivalente no API DOM
</p>
<p style="color: red;">
    Obs. 1: colspan e colSpan são diferentes
</p>
<p style="color: darkgoldenrod;">
    Para saber mais informações 
</p>
<div>
    <a href="http://angular.io/guide/property-binding#colspan">https://angular.io/guide/property-binding#colspan</a>
</div>
<p></p>

<br>

<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <ul>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" role="button" aria-expanded="false" aria-controls="collapseExemplo1">    
                            <strong>Exemplo 1:</strong> TemplateReferenceVariables
                        </a>
                        <div class="collapse card-body" id="collapseExemplo1">
                            
                            
                            <p>
                                interpretacao do exemplo
                            </p>

                            <div>
                                <img style="margin: 10px;" src="../../../assets/imagens/dataBindings/esquema_attribute.jpg" alt="estrutura basica standard property bindings" />
                            </div>

                            <br>

                            
                        </div> 
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>







