<!--
    1. One Way
    1.5 Style Binding
-->

<div>
    <h1>One Way</h1>
    <h3>Style Binding</h3>
    
    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Propriedade <strong>style</strong> do elemento host.
            
            </p>
            <p>
                Existe 3 formas de manipulação desta propriedade:     
            </p>
            
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerStyle">
                            <div id="headerStyle">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseStyle" aria-expanded="false" aria-controls="collapseStyle">
                                    <strong>Standard Property Binding</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseStyle" aria-labelledby="headerStyle" data-bs-parent="#accordionSection">
                                <div id="containerModalEstruturaBasicaStyle">
                                    <h5>Estrutura Básica</h5>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasicaStyle">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Style/style.png" alt="estrutura basica style binding">
                                            <figcaption class="figure-caption">
                                                <strong>Figura 1:</strong> Estrutura Básica Style Binding.
                                            </figcaption>
                                        </figure>
                                    </button>
                                    
                                    <div class="modal fade" id="modalEstruturaBasicaStyle" tabindex="-1" aria-labelledby="labelModalEstruturaBasicaStyle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="labelModalEstruturaBasicaStyle">Estrutura Básica Style Binding</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="figure-img img-fluid"
                                                    src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Style/style.png" alt="estrutura basica style binding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div id="subSection">
                                    <p>
                                        Seta um único valor de uma única propriedade style.
                                    </p>
                                    <p id="obs-style-color">
                                        <strong>Obs 1:</strong> Deve-se incluir as unidades requeridas para o style no componente.
                                    </p>
                                    <p id="obs-style-color">
                                        <!--
                                        Obs 2: incluir o caution pag 267 ?
                                        -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
            
                    <li>
                        <div id="containerSpecialStyle">
                            <div id="headerSpecialStyle">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialStyle" aria-expanded="false" aria-controls="collapseSpecialStyle">
                                    <strong>Special Style Binding</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseSpecialStyle" aria-labelledby="headerSpecialStyle" data-bs-parent="#accordionSection">
                                <div id="containerModalEstruturaBasicaSpecialStyle">
                                    <h5>Estrutura Básica</h5>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasicaSpecialStyle">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Style/special_style.png" alt="estrutura basica special style binding">
                                            <figcaption class="figure-caption">
                                                <strong>Figura 1:</strong> Estrutura Básica Special Style Binding.
                                            </figcaption>
                                        </figure>
                                    </button>
                                    
                                    <div class="modal fade" id="modalEstruturaBasicaSpecialStyle" tabindex="-1" aria-labelledby="labelModalEstruturaBasicaSpecialStyle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="labelModalEstruturaBasicaSpecialStyle">Estrutura Básica Special Style Binding</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="figure-img img-fluid"
                                                    src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/Style/special_style.png" alt="estrutura basica special style binding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div id="subSection">
                                    <p>
                                        Seta um único valor de uma única propriedade style.
                                    </p>
                                    <p id="obs-style-color">
                                        <strong>Obs 1:</strong> Não deve incluir as unidades requeridas.
                                    </p>
                                    <p id="obs-style-color">
                                        <!--
                                        Obs 2: colocar a parte de Tip da pagina 268 ?
                                        -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
            
                    <li>
                        <div id="containerNgStyle">
                            <div id="headerNgStyle">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseNgStyle" aria-expanded="false" aria-controls="collapseNgStyle">
                                    <strong>Diretiva NgStyle</strong>
                                </a>
                            </div>
                        
                            <div class="collapse" id="collapseNgStyle" aria-labelledby="headerNgStyle" data-bs-parent="#accordionSection">
                                <div id="containerModalEstruturaBasicaNgStyle">
                                    <h5>Estrutura Básica</h5>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasicaNgStyle">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgStyle/ngstyle.png" alt="estrutura basica diretiva ngstyle binding">
                                            <figcaption class="figure-caption">
                                                <strong>Figura 1:</strong> Estrutura Básica Diretiva NgStyle Binding.
                                            </figcaption>
                                        </figure>
                                    </button>
                                    
                                    <div class="modal fade" id="modalEstruturaBasicaNgStyle" tabindex="-1" aria-labelledby="labelModalEstruturaBasicaNgStyle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="labelModalEstruturaBasicaNgStyle">Estrutura Básica Diretiva NgStyle Binding</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="figure-img img-fluid"
                                                    src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgStyle/ngstyle.png" alt="estrutura basica diretiva ngstyle binding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div id="subSection">
                                    <p>
                                        Explicado <a href="/bindings/oneWay/ngStyle">
                                            <strong>aqui</strong>
                                        </a> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div id="sectionExemplo">
            <div id="accordionSectionExemplo">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>
                        </div>
                        
                        <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                            <div id="accordionSubSectionExemplo">
                                <ul>
                                    <li>
                                        <div id="containerExemplo1">
                                            <div id="headerExemplo1">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                                    <strong>Exemplo 1:</strong> Style binding
                                                </a>
                                            </div>
                                        
                                            <div class="collapse" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                                <!--
                                                    1.5.1 Standard Property Binding
            
                                                        - Setting with style property binding
                                                -->
                                                <div class="text-white m-2">
                                                    <div class="p-2 bg-warning">
                                                        O <span [style.fontSize]="fontSizeWithUnits">primeiro</span> produto é {{ repository.getProduct(1).name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
            
                                    <li>
                                        <div id="containerExemplo2">
                                            <div id="headerExemplo2">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo2" aria-expanded="false" aria-controls="collapseExemplo2">
                                                    <strong>Exemplo 2:</strong> Special Style Binding
                                                </a>
                                            </div>
                                        
                                            <div class="collapse" id="collapseExemplo2" aria-labelledby="headerExemplo2" data-bs-parent="#accordionSubSectionExemplo">
                                                <!--
                                                    1.5.2 Special Style Binding
            
                                                        - Setting with style special binding
                                                -->
                                                <div class="text-white m-2">
                                                    <div class="p-2 bg-info">
                                                        O  <span [style.fontSize.px]="fontSizeWithoutUnits">segundo</span> produto é {{ repository.getProduct(2).name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>