<!--
    1. One Way
    1.5 Style Binding
-->

<h1>One Way</h1>
<h3>Style Binding</h3>

<br>

<p>
    Propriedade style do elemento host

</p>
<p>
    Existe 3 formas de manipulação desta propriedade:     
</p>

<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseStyle" role="button" aria-expanded="false" aria-controls="collapseStyle">
                        Standard Property Binding
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseStyle">
                <p>
                    Estrutura basica
                </p>
                
                <div>
                    <img src="../../../assets/imagens/dataBindings/estrutura_basica_style.jpg" alt="estrutura basica style binding">
                </div>
                
                <br>

                <p>
                    Seta um único valor de uma única propriedade style
                </p>
                <p style="color: red;">
                    Obs 1: Deve-se incluir as unidades requeridas para o style no componente.
                </p>
                <p style="color: red;">
                    <!--
                    Obs 2: incluir o caution pag 267 ?
                    -->
                </p>
            </div>
        </li>
        
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseSpecialStyle" role="button" aria-expanded="false" aria-controls="collapseSpecialStyle">
                        Style Binding Special
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseSpecialStyle">
                <p>
                    Estrutura basica
                </p>

                <div>
                    <img src="../../../assets/imagens/dataBindings/estrutura_basica_especial_style.jpg" alt="estrutura basica special style binding">
                </div>

                <br>

                <p>
                    Seta um único valor de uma única propriedade style
                </p>
                <p style="color: red;">
                    Obs 1: Não deve incluir as unidades requeridas
                </p>
                <p style="color: red;">
                    <!--
                    Obs 2: colocar a parte de Tip da pagina 268 ?
                    -->
                </p>
            </div>
        </li>

        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseDiretivaNgStyle" role="button" aria-expanded="false" aria-controls="collapseDiretivaNgStyle">
                        Diretiva ngStyle
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseDiretivaNgStyle">
                <p>
                    Estrutura basica
                </p>
                
                <div>
                    <img src="../../../assets/imagens/dataBindings/estrutura_basica_diretiva_ngstyle.jpg" alt="estrutura basica diretiva style binding">
                </div>

                <br>
                
                <p>
                    Explicado <a href="/bindings/oneWay/ngStyle">
                        <strong>aqui</strong>
                    </a> 
                </p>
            </div>
        </li>
    </ul>
</div>


<br>

<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <ul>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" role="button" aria-expanded="false" aria-controls="collapseExemplo1">    
                            <strong>Exemplo 1:</strong> Style binding
                        </a> 
                        <div class="collapse card-body" id="collapseExemplo1">
                            <!--
                                1.5.1 Standard Property Binding

                                    - Setting with style property binding
                            -->
                            <div class="text-white m-2">
                                <div class="p-2 bg-warning">
                                    O <span [style.fontSize]="fontSizeWithUnits">primeiro</span> produto é {{ repository.getProduct(1).name }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo2" role="button" aria-expanded="false" aria-controls="collapseExemplo2">    
                            <strong>Exemplo 1:</strong> Especial Style binding
                        </a> 
                        <div class="collapse card-body" id="collapseExemplo2">
                            <!--
                                1.5.2 Special Style Binding

                                    - Setting with style special binding
                            -->
                            <div class="text-white m-2">
                                <div class="p-2 bg-info">
                                    O  <span [style.fontSize.px]="fontSizeWithoutUnits">segundo</span> produto é {{ repository.getProduct(2).name }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>






<!--
    1.5.3 ngStyle Directive

        - Setting with ngStyle Directive
-->
<div class="text-white m-2">
    <div class="p-2 bg-warning">
        O <span [ngStyle]="getStylesMap(1)">primeiro</span> produto é {{ repository.getProduct(1).name }}
    </div>
</div>
<div class="p-2 bg-info">
    <div class="p-2 bg-info">
        O <span [ngStyle]="getStylesMap(2)">segundo</span> produto é {{ repository.getProduct(2).name }}
    </div>
</div>