<!--
    1. One Way
    1.10 Diretiva ngFor Binding
-->

<div id="bodyMain">
    <h1>One Way</h1>
    <h3>Diretiva NgFor Bindings</h3>
    <div id="containerModalEstruturaBasica">
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgFor/ngfor.png" alt="estrutura basica diretiva ngfor binding">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica Diretiva NgFor Binding.
                </figcaption>
            </figure>
        </button>
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica Diretiva NgFor Binding</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid"
                        src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgFor/ngfor.png" alt="estrutura basica diretiva ngfor binding">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Usa-se quando se quer <strong>repetir</strong> a secção de conteúdos para <strong>cada objeto</strong> de um array.
            </p>
            <p id="obs-color">
                <strong>Obs.:</strong> É equivalente à declaração <strong>loop foreach</strong> do JavaScript.
            </p>
            <p id="obs-color">
                <strong>Obs.:</strong> Asterisco (*) indica que a diretiva é um <strong>micro-template</strong>, visto
                <a href="/bindings/others/microTemplate">
                    <strong>aqui</strong>
                </a>.
            </p>
            <p id="obs-color">
                <strong>Obs.:</strong> Usa-se geralmente para popular elementos aninhados, como as linhas de uma tabela.
            </p>
            <p id="nota-color">
                <strong>Nota:</strong> Na expressão deve-se usar <strong>of</strong> em ngFor, pois existe uma diferença entre <strong>of</strong> e <strong>in</strong> da declaração <strong>for</strong> do JavaScript, visto no
                <a href="#">
                    <strong>website</strong>
                </a>.
            </p>
            <p>
                A expressão se divide em duas partes:
            </p>
            
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerTemplateVariable">
                            <div id="headerTemplateVariable">
                                <!--
                                    TALVEZ TRANSLOCAR ESTA PARTE PARA A SESSAO DE OTHERS/TEMPLATEREFERENCEVARIABLE
                                -->
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTemplateVariable" aria-expanded="false" aria-controls="collapseTemplateVariable">
                                    <strong>Variável de Template (Template Variable)</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseTemplateVariable" aria-labelledby="headerTemplateVariable" data-bs-parent="#accordionSection">
                                <!--
                                    TALVEZ FZER A TRANSLOCACAO DESTA PARTE PARA OTHERS/TEMPLATEREFERENCEVARIABLES
                                -->
                                <p>
                                    Usa-se a keyword de inicialização de variável <strong>let</strong> e o <strong>nome da variável de template</strong> (ver <strong>Figura 1</strong>).
                                </p>
                                <p>
                                    A variável de template representa cada <strong>objeto ou item</strong> do <strong>data source</strong> (fonte de dados) para serem usados dentro do template HTML.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Variáveis de template geralmente são usadas com string interpolation binding.
                                </p>
                                <p id="nota-color">
                                    <strong>Nota:</strong> Para saber mais sobre elemento <strong>variável de template</strong> consultar
                                    <a href="/bindings/others/templateReferenceVariable">
                                        <strong>aqui</strong>
                                    </a>.
                                </p>
                                <p>
                                    Existem outras variáveis de template (separadas por <strong>ponto-e-vígula</strong> dentro da expressão e depois do data source), são eles:
                                </p>
                                <div id="accordionSubSectionTemplateVariable">
                                    <ul>
                                        <li>
                                            <div id="containerIndex">
                                                <div id="headerIndex">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseIndex" aria-expanded="false" aria-controls="collapseIndex">
                                                        <strong>Index</strong>
                                                    </a>
                                                </div>
                                                <div class="collapse" id="collapseIndex" aria-labelledby="headerIndex" data-bs-parent="#accordionSubSectionTemplateVariable">
                                                    <p>
                                                        Indica a <strong>posição</strong> do objeto <strong>atual</strong>, sendo <strong>incrementado</strong> para cada objeto do data source.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> O valor da variável é do tipo <strong>number</strong>.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div id="containerCount">
                                                <div id="headerCount">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseCount" aria-expanded="false" aria-controls="collapseCount">
                                                        <strong>Count</strong>
                                                    </a>
                                                </div>
                                                <div class="collapse" id="collapseCount" aria-labelledby="headerCount" data-bs-parent="#accordionSubSectionTemplateVariable">
                                                    <p>
                                                        Indica a <strong>quantidade</strong> de itens do <strong>data source</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> O valor da variável é do tipo <strong>number</strong>.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div id="containerOdd">
                                                <div id="headerOdd">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOdd" aria-expanded="false" aria-controls="collapseOdd">
                                                        <strong>Odd</strong>
                                                    </a>
                                                </div>
                                                <div class="collapse" id="collapseOdd" aria-labelledby="headerOdd" data-bs-parent="#accordionSubSectionTemplateVariable">
                                                    <p>
                                                        Indica que a <strong>posição</strong> (index) do atual objeto no data source é <strong>impar</strong>, caso retorne <strong>true</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> É o oposto de <strong>even</strong> (visto abaixo), significando que se <strong>odd</strong> é <strong>true</strong>, <strong>even</strong> deve ser <strong>false</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> O valor da variável é do tipo <strong>boolean</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> A contagem da posição no data source (um array geralmente) inicia-se em zero.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div id="containerEven">
                                                <div id="headerEven">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseEven" aria-expanded="false" aria-controls="collapseEven">
                                                        <strong>Even</strong>
                                                    </a>
                                                </div>
                                                <div class="collapse" id="collapseEven" aria-labelledby="headerEven" data-bs-parent="#accordionSubSectionTemplateVariable">
                                                    <p>
                                                        Indica que a <strong>posição</strong> (index) do atual objeto no data source é <strong>par</strong>, caso retorne <strong>true</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> É o oposto de <strong>odd</strong> (visto acima), significando que se <strong>even</strong> é <strong>true</strong>, <strong>odd</strong> deve ser <strong>false</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> O valor da variável é do tipo <strong>boolean</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> A contagem da posição no data source (um array geralmente) inicia-se em zero.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div id="containerFirst">
                                                <div id="headerFirst">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFirst" aria-expanded="false" aria-controls="collapseFirst">
                                                        <strong>First</strong>
                                                    </a>
                                                </div>
                                                <div class="collapse" id="collapseFirst" aria-labelledby="headerFirst" data-bs-parent="#accordionSubSectionTemplateVariable">
                                                    <p>
                                                        Indica que a <strong>posição</strong> do atual objeto no data source é o <strong>primeiro</strong>, caso retorne <strong>true</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> Quando <strong>first</strong> é <strong>true</strong> para o primeiro objeto do array, significa que todos os outros objetos vão ser <strong>false</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> O valor da variável é do tipo <strong>boolean</strong>.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div id="containerLast">
                                                <div id="headerLast">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLast" aria-expanded="false" aria-controls="collapseLast">
                                                        <strong>Last</strong>
                                                    </a>
                                                </div>
                                                <div class="collapse" id="collapseLast" aria-labelledby="headerLast" data-bs-parent="#accordionSubSectionTemplateVariable">
                                                    <p>
                                                        Indica que a <strong>posição</strong> do atual objeto no data source é o <strong>último</strong>, caso retorne <strong>true</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> Quando <strong>last</strong> é <strong>true</strong> para o último objeto do array, significa que todos os outros objetos vão ser <strong>false</strong>.
                                                    </p>
                                                    <p id="obs-color">
                                                        <strong>Obs.:</strong> O valor da variável é do tipo <strong>boolean</strong>.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerDataSource">
                            <div id="headerDataSource">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseDataSource" aria-expanded="false" aria-controls="collapseDataSource">
                                    <strong>Fonte de Dados (Data Source)</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseDataSource" aria-labelledby="headerDataSource" data-bs-parent="#accordionSection">
                                <p>
                                    Fornece os <strong>dados</strong> que será enumerado, sendo o <strong>array</strong> de objetos.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--
                Separar esta parte de tudo
                é considerado uma variavel de template ?
                
                <li>
                    <div id="containerTrackBy">
                        <div id="headerTrackBy">
                            <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTrackBy" aria-expanded="false" aria-controls="collapseTrackBy">
                                <strong>TrackBy</strong>
                            </a>
                        </div>
                    
                        <div class="collapse" id="collapseTrackBy" aria-labelledby="headerTrackBy" data-bs-parent="#accordionSubSectionTemplateVariable">
                            <p>
                                Indica que a <strong>posição</strong> do atual objeto é o <strong>último</strong> no data source, caso retorne <strong>true</strong>.
                            </p>
                            <p id="obs-color">
                                <strong>Obs.:</strong> O valor da variável é do tipo <strong>boolean</strong>.
                            </p>
                        </div>
                    </div>
                </li>
                
                VER P 290-293
            -->
        </div> 
        <div id="sectionBody">
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                            <div id="accordionSubSectionExemplo">
                                <ul>
                                    <li>
                                        <div id="containerExemplo1">
                                            <div id="headerExemplo1">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                                    <strong>Exemplo 1:</strong> Diretiva ngFor
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                                <div class="text-white">
                                                    <div class="p-1">
                                                        <table class="table table-sm table-bordered text-dark">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Category</th>
                                                                <th>Price</th>
                                                            </tr>
                                                            <tr *ngFor="let item of getProducts()">
                                                                <td>{{item.name}}</td>
                                                                <td>{{item.category}}</td>
                                                                <td>{{item.price}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>