<!--
    1. One Way
    1.1 Diretiva ngFor Binding
-->

<h1>One Way</h1>
<h3>Diretiva ngFor Bindings</h3>

<br>

<h5>Estrutura Básica</h5>

<div>
    <img src="../../../assets/imagens/dataBindings/estrutura_basica_diretiva_ngfor.jpg" alt="estrutura basica diretiva ngFor">
</div>
<br>
<p>
    Usa-se quando se quer repetir a secção de conteúdos para cada objeto de um array
</p>
<p style="color: red;">
    Obs. 1: Parecido com loop foreach
</p>
<p>
    A expressão se divide em duas partes:
</p>
<div>
    <ul>
        <li>
            <a href="">Variável de template</a>
			<ul>
                <li>
                    <p>
                        Usa-se keyword let
                    </p>
                </li>
                <li>
                    <p>
                        é como os dados são passados dentro do template, usado como por exemplo item.name
                    </p>
                </li>
                <li>
                    <p>
                        let item
                   </p>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Fonte de Dados</a>
            <ul>
                <li>
                    <p>
                        Fornece o data source que sera enumerado
                    </p>
                </li>
                <li>
                    <p>
                        getProdcuts()
                    </p>
                </li>
                <li>
                    <p>
                        <!--
                        ** nao incluir, pois eh coisa do javascript, a diferenca entre
                            - of
                            - in
                            - tem outro que nao lembro
                        -->
                    </p>
                </li>
            </ul>
        </li>
    </ul>
</div>

<p>
    Outras variáveis de templates:
</p>
<p>
    São eles:
</p>
<div>
    <ul>
        <li>
            <p>
                index
            </p>
        </li>
        <li>
            <p>
                count
            </p>
        </li>
        <li>
            <p>
                odd
            </p>
        </li>
        <li>
            <p>
                even
            </p>
        </li>
        <li>
            <p>
                first
            </p>
        </li>
        <li>
            <p>
                last
            </p>
        </li>
        <li>
            <p>
                getKey
            </p>
        </li>
    </ul>
</div>


<p>
    Parte do microtemplates
</p>
<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <ul>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" role="button" aria-expanded="false" aria-controls="collapseExemplo1">    
                            <strong>Exemplo 1:</strong> Diretiva ngFor 
                        </a>
                        <div class="collapse card-body" id="collapseExemplo1">
                            <div class="text-white">
                                <div class="p-1">
                                    <table class="table table-sm table-bordered text-dark">
                                        <tr>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                        </tr>
                                        <tr *ngFor="let item of getProducts()">
                                            <td>{{item.name}}</td>
                                            <td>{{item.category}}</td>
                                            <td>{{item.price}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>