<!--
    1. One Way
    1.1 Diretiva ngClass Binding
-->

<h1>One Way</h1>
<h3>Diretiva ngClass Bindings</h3>

<br>

<h5>Estrutura Básica</h5>

<div>
    <img src="../../../assets/imagens/dataBindings/estrutura_basica_diretiva_ngclass.jpg" alt="estrutura basica direitiva ngClass">
</div>
<br>
<p>
    Usa-se para gerenciar propriedade class
</p>
<p>
    Mais flexiveis em relação ao retorno da expressão que pode ser:
</p>
<div>
    <ul>
        <li>
            String
            <ul>
                <li>
                    <p>
                        São adicionados classes especificadas por um string
                    </p>
                </li>
                <li>
                    <p style="color: red;">
                        Obs. 1: Múltiplas classes são separados por espaços
                    </p>
                </li>
            </ul>
        </li>
        <li>
            Array
            <ul>
                <li>
                    <p>
                        Cada objeto do array representa uma classe que vai ser adicionado no elemento
                    </p>
                </li>
            </ul>
        </li>
        <li>
            Object (map)
            <ul>
                <li>
                    <p>
                        Cada propriedade do objeto representa uma class ou mais, separados por espaços
                    </p>
                </li>
                <li>
                    <p>
                        Mais útil
                    </p>
                </li>
                <li>
                    <p style="color: red;">
                        Obs. 2: A classe será adicionada caso o valor da propriedade for truthy
                    </p>
                </li>
            </ul>
        </li>
    </ul>
</div>

<br>

<p>
    <!--
    Aplicar a parte de operador nullish
    -->
</p>
<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <ul>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" role="button" aria-expanded="false" aria-controls="collapseExemplo1">    
                            <strong>Exemplo 1:</strong> Diretiva ngClass 
                        </a>
                        <div class="collapse card-body" id="collapseExemplo1">
                            <!--
                                1.4.3 ngClass Directive

                                    - Setting Classes with ngClass Directive
                            -->
                            <div class="text-white m-2">
                                <div class="p-2" [ngClass]="getClassesMap(1)">
                                    O primeiro produto é {{ repository.getProduct(1).name }}
                                </div>
                                <div class="p-2" [ngClass]="getClassesMap(2)">
                                    O segundo produto é {{ repository.getProduct(2).name }}
                                </div>
                                <div class="p-2" [ngClass]="{'bg-success': repository.getProduct(3).price < 50, 'bg-info': repository.getProduct(3).price >= 50}">
                                    O terceiro produto é {{ repository.getProduct(3).name }}
                                </div>
                            </div>
                        </div> 
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>