<!--
    2. Two Way
    2.1 ngModel Directivve
-->

<div id="bodyMain">
    <h1>Two Way</h1>
    <h3>Diretiva NgModel Bindings</h3>
    <div id="containerModalEstruturaBasica">
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/TwoWay/DirectiveBinding/NgModel/ngmodel.png" alt="estrutura basica diretiva ngModel binding">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica Diretiva NgModel Binding.
                </figcaption>
            </figure>
        </button>    
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica Diretiva NgModel Binding</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid"
                        src="../../../assets/imagens/dataBindings/TwoWay/DirectiveBinding/NgModel/ngmodel.png" alt="estrutura basica diretiva ngModel binding">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Usa-se para gerenciar a propriedade class.
            </p>
            <p>
                Mais flexíveis em relação ao retorno da expressão, que pode ser:
            </p>
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerString">
                            <div id="headerString">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseString"
                                    aria-expanded="false" aria-controls="collapseString">
                                    <strong>String</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseString" aria-labelledby="headerString"
                                data-bs-parent="#accordionSection">
                                <p>
                                    São adicionados classes especificadas através de um string.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Múltiplas classes são separadas por espaços.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerArray">
                            <div id="headerArray">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseArray"
                                    aria-expanded="false" aria-controls="collapseArray">
                                    <strong>Array (Lista)</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseArray" aria-labelledby="headerArray"
                                data-bs-parent="#accordionSection">
                                <p>
                                    Cada objeto do array representa uma classe que vai ser adicionado no elemento.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerObject">
                            <div id="headerObject">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseObject"
                                    aria-expanded="false" aria-controls="collapseObject">
                                    <strong>Object (Map)</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseObject" aria-labelledby="headerObject"
                                data-bs-parent="#accordionSection">
                                <p>
                                    Cada propriedade do objeto representa uma class ou mais.
                                </p>
                                <!--
                                        criar alguma coisa de style para este tipo de situacao ?
                                        ou mudar a cor ?
                                    -->
                                <p style="color: green;">
                                    <strong>Mais usado.</strong>
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Múltiplas classes em uma propriedade do objeto são separadas por espaços.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> A classe será adicionada caso o valor da propriedade for <strong>truthy</strong>, visto 
                                    <a href="/bindings/others/truthyFalsy">
                                        <strong>aqui</strong>
                                    </a>.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--
            Aplicar a parte de operador nullish
            -->
        </div>
        <!--
            MODIFICAR TODO O CONTEUDO
        -->
        <div id="sectionBody">
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                            <div id="accordionSubSectionExemplo">
                                <ul>
                                    <li>
                                        <div id="containerExemplo1">
                                            <div id="headerExemplo1">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExemplo1" aria-expanded="false"
                                                    aria-controls="collapseExemplo1">
                                                    <strong>Exemplo 1:</strong> Usando método com retorno String
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExemplo1"
                                                aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>