<!--
    1. One Way
    1.11 Diretiva ngSwitch Binding
-->

<div id="bodyMain">
    <h1>One Way</h1>
    <h3>Diretiva NgSwitch Bindings</h3>
    <div id="containerModalEstruturaBasica">
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgSwitch/ngswitch.png" alt="estrutura basica diretiva ngswitch binding">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica Diretiva NgSwitch Binding.
                </figcaption>
            </figure>
        </button>
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica Diretiva NgSwitch Binding</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid"
                        src="../../../assets/imagens/dataBindings/OneWay/DirectiveBinding/NgSwitch/ngswitch.png" alt="estrutura basica diretiva ngswitch binding">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Usa-se quando se quer selecionar uma opção, dentre outras, do <strong>ngSwitchCase</strong> baseado no resultado da expressão do <strong>ngSwitch</strong>.
            </p>
            <p id="obs-color">
                <strong>Obs.:</strong> É equivalente à declaração <strong>switch case</strong> do JavaScript.
            </p>
            <p>
                A diretiva se divide em três partes:
            </p>
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerNgSwitch">
                            <div id="headerNgSwitch">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseNgSwitch" aria-expanded="false" aria-controls="collapseNgSwitch">
                                    <strong>Diretiva ngSwitch</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseNgSwitch" aria-labelledby="headerNgSwitch" data-bs-parent="#accordionSection">
                                <p>
                                    Diretiva que faz um <strong>data binding</strong> após o retorno da expressão, sendo string ou um number.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Colchetes em <strong>ngSwitch</strong> indica que é um <strong>data binding</strong> (ver <strong>Figura 1</strong>).
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerNgSwitchCase">
                            <div id="headerNgSwitchCase">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseNgSwitchCase" aria-expanded="false" aria-controls="collapseNgSwitchCase">
                                    <strong>Diretiva ngSwitchCase</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseNgSwitchCase" aria-labelledby="headerNgSwitchCase" data-bs-parent="#accordionSection">
                                <p>
                                    Diretiva que <strong>adiciona</strong> conteúdo caso o valor da sua expressão for <strong>igual</strong> ao valor da expressão do <strong>ngSwitch</strong>.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> A diretiva ngSwitchCase apenas <strong>inclui</strong> conteúdo no HTML, <strong>não remove</strong>.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Existe um problema em relação à <strong>valores string literal</strong>, visto 
                                    <a href="/bindings/others/">
                                        <strong>aqui</strong>
                                    </a>.
                                </p> 
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Asterisco (*) em <strong>ngSwitchCase</strong> indica que é <strong>micro-templates</strong>, visto 
                                    <a href="/bindings/others/microTemplate">
                                        <strong>aqui</strong>
                                    </a>.
                                </p> 
                                <!--
                                    <p>
                                        ngSwitchCase sempre eh o elemento span ??
                                        posso fazer com outros elementos ?? como a tag p
                                    </p>
                                -->
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="containerNgSwitchDefault">
                            <div id="headerNgSwitchDefault">
                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseNgSwitchDefault" aria-expanded="false" aria-controls="collapseNgSwitchDefault">
                                    <strong>Diretiva ngSwitchDefault</strong>
                                </a>
                            </div>
                            <div class="collapse" id="collapseNgSwitchDefault" aria-labelledby="headerNgSwitchDefault" data-bs-parent="#accordionSection">
                                <p>
                                    Diretiva que <strong>adiciona</strong> conteúdo caso <strong>não exista</strong> opções de ngSwitchCase.
                                </p>
                                <p id="obs-color">
                                    <strong>Obs.:</strong> Asterisco (*) em <strong>ngSwitchDefault</strong> indica que é <strong>micro-templates</strong>, visto 
                                    <a href="/bindings/others/microTemplate">
                                        <strong>aqui</strong>
                                    </a>.
                                </p> 
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="sectionBody">
            <div id="accordionSectionBody">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                            <div id="accordionSubSectionExemplo">
                                <ul>
                                    <li>
                                        <div id="containerExemplo1">
                                            <div id="headerExemplo1">
                                                <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                                    <strong>Exemplo 1:</strong> Diretiva NgSwitch
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                                <div class="text-white">
                                                    <div class="bg-info p-2">
                                                        There are {{getProductCount()}} products.
                                                    </div>
                                                    <div class="bg-info p-2 mt-1" [ngSwitch]="getProductCount()">
                                                        <span *ngSwitchCase="2">There are two products</span>
                                                        <span *ngSwitchCase="5">There are five products</span>
                                                        <span *ngSwitchDefault>This is the default</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>