<!--
    3. Others
    3.1 One-Way Restrictions
-->

<h3>One-Way Restrictions</h3>

<br>

<h5>Estrutura Básica</h5>

<div>
    <img style="margin: 10px;" src="../../../assets/imagens/dataBindings/estrutura_basica_string_interpolation.jpg" alt="estrutura basica string interpolation binding" />
</div>

<p> 
    Usa-se dupla chaves que inclui o resultado da expressão
</p>

<p>Assim a expressão é avaliada e setada como string</p>
<p style="color: red;">
    Obs 1: O retorno da expressão é um string equivalente a usar a propriedade "textContent"
</p>
<br>

<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseIdempotent" role="button" aria-expanded="false" aria-controls="collapseIdempotent">
                        Idempotents Expressions
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseIdempotent">
                <p>
                    Estrutura basica
                </p>

                <div>
                    <img src="../../../assets/imagens/dataBindings/estrutura_basica_class.jpg" alt="estrutura basica class binding">
                </div>

                <br>

                
            </div>
        </li>
        
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExpressionContext" role="button" aria-expanded="false" aria-controls="collapseExpressionContext">
                        Expression Context
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseExpressionContext">
                <p>
                    Estrutura basica
                </p>
                
                <div>
                    <img src="../../../assets/imagens/dataBindings/estrutura_basica_especial_class.jpg" alt="estrutura basica special class binding">
                </div>

                <br>

                <p>
                    Seta uma única classe existente através de um controle mais refinado usando uma expressão
                </p>
                <p style="color: red;">
                    Obs 1: A expressão deve ter um retorno baseado truthy, ou seja, nao pode conter os seguintes resultados de falsidade (falsy):
                </p>

                
            </div>
        </li>
    </ul>
</div>




<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <ul>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" role="button" aria-expanded="false" aria-controls="collapseExemplo1">    
                            <strong>Exemplo 1:</strong> Propriedade textContent e string interpolation 
                        </a>


                        <div class="collapse card-body" id="collapseExemplo1">
                            

                            <div>
                                <img style="margin: 10px;" src="../../../assets/imagens/dataBindings/esquema_string_interpolation.jpg" alt="estrutura basica standard property bindings" />
                            </div>

                          
                        </div> 
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>