<!--
    3. Others
    3.1 Micro-Templates
-->

<h3>Micro-Templates</h3>

<br>

<h5>Estrutura Básica</h5>

<div>
    <img style="margin: 10px;" src="../../../assets/imagens/dataBindings/estrutura_basica_attribute.jpg" alt="estrutura basica attribute binding" />
</div>

<p>
    Propriedade class do elemento host
</p>
<p>
    Existe 3 formas de manipulação desta propriedade:     
</p>

<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseNgIf" role="button" aria-expanded="false" aria-controls="collapseNgIf">
                        Diretiva ngIf
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseNgIf">
                <p>
                    Estrutura basica
                </p>

                <div>
                    <img src="../../../assets/imagens/dataBindings/estrutura_basica_class.jpg" alt="estrutura basica micro-template diretiva ngIf">
                </div>

                <br>

            </div>
        </li>
        
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseNgFor" role="button" aria-expanded="false" aria-controls="collapseNgFor">
                        Diretiva ngFor
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseNgFor">
                <p>
                    Estrutura basica
                </p>
                
                <div>
                    <img src="" alt="estrutura basica micro-template diretiva ngFor">
                </div>

                <br>

               
            </div>
        </li>

        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseNgSwitch" role="button" aria-expanded="false" aria-controls="collapseNgSwitch">
                        Micro-Template Diretiva ngSwitch
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseNgSwitch">
                <p>
                    Estrutura basica
                </p>
                
                <div>
                    <img src="" alt="estrutura basica micro-template diretiva ngSwitch">
                </div>
                
                <br>
            </div>
        </li>
    </ul>
</div>


<br>

<div>
    <ul>
        <li>
            <p>
                <strong>
                    <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTarget" role="button" aria-expanded="false" aria-controls="collapseTarget">
                        Lista de Exemplos
                      </a>
                </strong>
            </p>
            <div class="collapse card-body" id="collapseTarget">
                <ul>
                    <li>
                        <a class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" role="button" aria-expanded="false" aria-controls="collapseExemplo1">    
                            <strong>Exemplo 1:</strong> Class binding
                        </a>
                        <div class="collapse card-body" id="collapseExemplo1">
                            
                        </div> 
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>