<!--
    1. One Way
    1.2 String Interpolation
-->

<div>
    <h1>One Way</h1>
    <h3>String Interpolation Bindings</h3>

    <div id="containerModalEstruturaBasica"> 
        <h5>Estrutura Básica</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEstruturaBasica">
            <figure class="figure">
                <img class="figure-img img-fluid" src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/StringInterpolation/string_interpolation.png" alt="estrutura basica string interpolation binding">
                <figcaption class="figure-caption">
                    <strong>Figura 1:</strong> Estrutura Básica String Interpolation Binding.
                </figcaption>
            </figure>
        </button>
        
        <div class="modal fade" id="modalEstruturaBasica" tabindex="-1" aria-labelledby="labelModalEstruturaBasica" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalEstruturaBasica">Estrutura Básica String Interpolation Binding</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="figure-img img-fluid"
                        src="../../../assets/imagens/dataBindings/OneWay/PropertyBinding/StringInterpolation/string_interpolation.png" alt="estrutura basica string interpolation binding">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordionSection">
        <div id="sectionBody">
            <p>
                Usa-se <strong>dupla chaves</strong> que envolve o resultado da expressão.
            </p>
            
            <p>Assim a expressão é avaliada e seta o conteúdo do elemento host.</p>
            
            <p id="obs-style-color">
                <strong>Obs.:</strong> String Interpolation deve-se usar para simples fragmento de código.
            </p>
            <p id="obs-style-color">
                <strong>Obs.:</strong> O retorno da expressão é um <strong>string</strong> e equivalente a fazer um data binding na propriedade <strong>textContent</strong> de certos elementos host.
            </p>
            <p id="nota-style-color">
                <strong>Nota:</strong> Para saber mais sobre a propriedade <strong>textContent</strong> consultar o
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement">
                    <strong>website1</strong>
                </a> e <a href="https://www.mundojs.com.br/2019/07/18/diferencas-entre-innerhtml-innertext-e-textcontent/">
                    <strong>website2</strong>
                </a>.
            </p>
        </div>
        
        <div id="sectionExemplo">
            <div id="accordionSectionExemplo">
                <ul>
                    <li>
                        <div id="containerExemplo">
                            <div class="headerExemplo">
                                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExemplo" role="button" aria-expanded="false" aria-controls="collapseExemplo">
                                    <strong>Lista de Exemplos</strong>
                                </a>
                            </div>

                            <div class="collapse" id="collapseExemplo" aria-labelledby="headerExemplo" data-bs-parent="#accordionSection">
                                <div id="accordionSubSectionExemplo">
                                    <ul>
                                        <li>
                                            <div id="containerExemplo1">
                                                <div id="headerExemplo1">
                                                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplo1" aria-expanded="false" aria-controls="collapseExemplo1">
                                                        <strong>Exemplo 1:</strong> Propriedade textContent e string interpolation 
                                                    </a>
                                                </div>
                                            
                                                <div class="collapse" id="collapseExemplo1" aria-labelledby="headerExemplo1" data-bs-parent="#accordionSubSectionExemplo">
                                                    <p>
                                                        Com a propriedade textContent
                                                    </p>
                        
                                                    <div [textContent]="'Name: ' + (getProduct(1)?.name || 'None')"></div>
                                                    
                                                    <br>
                                                    
                                                    <p>
                                                        Com string interpolation
                                                    </p>
                        
                                                    <div>
                                                        Name: {{ getProduct(1)?.name || 'None' }}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>    